torch==2.1.0+cu121
torch-cluster==1.6.0
torch-geometric==2.0.4
torch-scatter==2.0.9
torch-sparse==0.6.18+pt21cu121
torch-spline-conv==1.2.2+pt21cu121
torch-geometric==2.0.4
transformers==4.19.2
ftfy==6.2.0